---
import type { InferGetStaticParamsType } from "astro"
import { getBlog, getBlogs } from "../../utils/sanity"
import Layout from "../../layouts/Layout.astro"
import { Picture } from "astro-imagetools/components"
import PortableText from "../../components/PortableText/PortableText.astro"

export async function getStaticPaths() {
  const blogs = await getBlogs()
  return blogs.map((blog) => ({
    params: { slug: blog.slug.current },
  }))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { slug } = Astro.params as Params

const blog = await getBlog(slug)
---

<Layout title={`Engsta Rides | ${blog.title}`} description={blog.summary}>
  <nav>
    <a href="/blog">Back</a>
  </nav>
  <main class="container box-border flex h-full flex-col gap-10 pb-5 pt-14">
    <h1 class="text-4xl">{blog.title}</h1>
    <article
      id={`prod-${slug}`}
      data-slug={slug}
      class="w-full"
      transition:animate="slide"
      transition:name={`prod-${slug}`}
    >
      <Picture
        attributes={{
          picture: {
            class: "",
          },
          img: {
            class: "fade-in absolute w-20",
          },
        }}
        alt="A cool shirt"
        position="attention"
        src={`${blog.image.asset.url}?w=1000&h=500`}
        layout="fullWidth"
      />

      {blog.content && <PortableText value={blog.content} />}
    </article>
  </main>
</Layout>
