---
import { Picture } from "astro-imagetools/components"
import Sold from "./Sold.astro"
const { product, reverse } = Astro.props
const reverseClass = reverse ? "flex-row-reverse" : ""
---

<div class={"flex flex-wrap md:flex-nowrap gap-6 " + reverseClass}>
  <div class="relative max-h-[400px] w-full md:max-w-[40%]">
    {
      (
        <Picture
          alt={product.images[0].alt}
          src={product.images[0].asset.url}
          layout="fill"
          attributes={{
            img: { class: `` },
          }}
        />
      )
    }
    {product.sold && <Sold />}
  </div>
  <div class="w-full self-center md:w-3/4">
    <h2 class="text-3xl font-semibold">{product.name}</h2>
    <dl class="flex flex-col gap-4">
      <dt class="sr-only">Price:</dt>
      <dd>
        <span
          class={`relative ${
            !!product.discountPrice === false
              ? "text-xl font-semibold"
              : "price__value"
          }`}
        >
          ${product.price}
        </span>
      </dd>

      {product.discountPrice > 0 && <dt class="sr-only">Discount Price:</dt>}
      {
        product.discountPrice > 0 && (
          <dd class="text-xl font-semibold">${product.discountPrice}</dd>
        )
      }
      <dt class="sr-only">Description:</dt>
      <dd>{product.excerpt}</dd>
    </dl>
    <a
      href={product.checkoutUrl ||
        "https://www.ebay.com/sch/i.html?item=176338429964&rt=nc&_trksid=p4429486.m3561.l161211&_ssn=usmc6911"}
      class="mt-10 block w-full rounded-full bg-accent px-4 py-2 text-center font-bold uppercase text-white hover:opacity-80 lg:w-6/12"
    >
      View Item
    </a>
  </div>
</div>
<style>
  .price__value::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 1px;
    top: 50%;
  }
</style>
