---
import type { Shirt } from "../utils/sanity";
import Intersecting from "./common/Intersecting.vue";
import { Picture } from "astro-imagetools/components";

interface Props {
  shirt: Shirt;
}

const { slug, variants } = Astro.props.shirt;
const variant = variants[0];
const image = variant.images[0].asset;
---

<li>
  <Intersecting
    client:visible
    className="flex w-full flex-col items-center justify-center gap-12"
    noSsr={false}
  >
    <a
      href={`/shirt/${slug.current}`}
      class="fade-up flex-card group relative z-10 flex max-w-md flex-1 flex-col items-center gap-4 text-center"
      rel="prefetch"
    >
      <div class="w-80 shrink-0 grow-0 overflow-hidden">
        <div
          class="transition-transform duration-500 group-hover:scale-110 group-hover:duration-[3s]"
          transition:animate="slide"
          transition:name={`prod-${slug.current}`}
        >
          <Picture
            attributes={{
              picture: {
                class: "fade-in",
              },
            }}
            alt="Shirts for sale"
            position="attention"
            src={image.url}
            layout="fullWidth"
          />
        </div>
      </div>
    </a>
    <a
      href={`/shirt/${slug.current}`}
      class="rounded-full bg-accent px-4 py-2 text-center font-bold text-white hover:opacity-80 lg:w-6/12"
      rel="prefetch">Buy now</a
    >
  </Intersecting>
</li>
