---
import type { Shirt } from "../utils/sanity";
import Intersecting from "./common/Intersecting.vue";
import { Picture } from "astro-imagetools/components";

interface Props {
  shirt: Shirt;
}

const { name, excerpt, description, price, slug, variants } = Astro.props.shirt;
const variant = variants[0];
const image = variant.images[0].asset;
---

<li>
  <Intersecting client:visible className="w-full" noSsr={false}>
    <a
      href={`/shirt/${slug.current}`}
      class="fade-up flex-card group relative z-10 flex max-w-md flex-1 flex-col items-center gap-4 text-center"
    >
      <div class="w-80 shrink-0 grow-0 overflow-hidden">
        <div
          class="transition-transform duration-500 group-hover:scale-110 group-hover:duration-[3s]"
          transition:animate="slide"
          transition:name={`prod-${slug.current}`}
        >
          <Picture
            attributes={{
              picture: {
                class: "fade-in",
              },
            }}
            alt="test"
            position="attention"
            src={image.url}
            layout="fullWidth"
          />
        </div>
      </div>
      <div class="opacity-90 group-hover:opacity-100">
        <h2 class="subtitle balance font-bold group-hover:text-primary">
          {name}
        </h2>
      </div>
    </a>
  </Intersecting>
</li>
